.container{
    width: 300px;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        text-align: center;
        animation: slideDown 1s ease;
        background-color: #bee4e0;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        @keyframes slideDown {
                from {
                    opacity: 0;
                    transform: translateY(-100px);
                }
        
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

}
input {
    transition: 0.3s;
}

input:hover {
    transform: scale(1.03);
}
button {
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    background-color: #94c595;
    color: rgb(220, 229, 227);
}
.popup {
    width: 300px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);

    visibility: hidden;
    transition: transform 0.3s;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
label {
    display: inline;
    width: 50px;
}